<div id="page-content">
  <div class="container">
    <h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
    <%= gravatar_for @user, size: 250 %>
    <h3 class="text-center mt-4"><%= @user.username %>'s articles</h1>
    <%= render 'articles/article' %>
  </div>
</div>
